
.log{
    font-family: Arial, sans-serif;
    background-color: rgb(60, 73, 247)  ;
    color:white;

border-radius: 5px;
height: 35px;
width: 274px;
margin-left: 25px;
text-align:center;

position: relative;
left: 1px;
 

}

.create {
    text-align:center;
    font-family: Arial, sans-serif;
    width: 150px;
    height: 40px;
    border: none;
background: rgb(5, 179, 5);
color: white;
border-radius: 5px;
}
.c2{color: dodgerblue;
    text-emphasis-color: white ;
    text-align: center;

    margin: 30px;

}
.c3{
    color: white;
    text-align: right;
}
.right{
    text-align:left;
    margin: 8pt;
}
.in{ 

    display: inline;
}
.f{
    text-align:left;
}
.e{
    height: 15px;
    text-align: right;
}
.pas{
border: 10px;
    text-align: right;
     height: 15px;
}
.fb{
    padding-left: 500px;

    text-align: left ;
  }
.ff{ text-align: left;
    color: dodgerblue;
    padding-left: 40px}

.l{
    color: rgb(206, 200, 206);
    width: 260px;
    
}
.main{
    background-color:whitesmoke;
    background-position: right;
    padding:10px 10px;
    color: rgb(0, 0, 0);
    text-align: right;
box-shadow:  0 1px 10px rgba(0,0,0,0.12), 0 2px 20px rgba(0,0,0,0.30);
height: 275px;
width: 300px;
border-radius: 5pt;
border:3px ;
float: right;}
